
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container">

    <div class="row">
        <div class="col-xs-12">
            {{#if msg}}
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{msg}}
                </div>
            {{/if}}

            {{#if errors}}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <ul>
                        {{#each errors}}
                            <li>{{this.msg}}</li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Update user</h3>
                </div>

                <div class="panel-body">

                    <form method="POST" action="/users/update/{{pokemon._id}}">
                        <label for="name">name</label>
                        <input class="form-control" value="{{pokemon.name}}" type="text" name="name"><br>
                        <label for="longitude">longitude</label>
                        <input class="form-control" type="text" name="longitude" value="{{pokemon.longitude}}"><br>
                                                <label for="latitude">latitude</label>
                                                <input class="form-control" type="text" name="latitude" value="{{pokemon.latitude}}"><br>
                        <button class="btn btn-success" type="submit">Update</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
